@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
button,
span,
textarea,
table tr td,
select,
input {
    padding: 0;
    margin: 0;
}

a,
a:hover {
    color: #000;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

.w-full{
    width: 100%;
    box-sizing: border-box;
}

.px-2{
    padding-left: 1rem;
    padding-right: 1rem;
}

.text-center{
    text-align: center;
}

.header-area{
    background-color: #d8d8d8; 
    height: 280px;
    position: relative;
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
}

.sr-only{
    display: none !important;
} 

.-mt-5{
    margin-top: -3rem;
}

.header-title{
    font-size: 16px;
    font-weight: 700;
    color: #4b4b4b;
    line-height: normal;
}

.upload-icon{
    width: 30px;
    color: #4b4b4b;
}

.upload-area{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: rgba(24, 24, 24, 0.438); 
    height: 100%;
    cursor: pointer;
}

.upload-avatar{
    background-color: #737373;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.has-profile-pic .upload-avatar-icon{
    display: none;
    transition: 300ms ease-in-out;
}

.has-profile-pic:hover .upload-avatar-icon {
    display: block;
}

.upload-avatar-icon{
    width: 40px;
    color: #fff;
}
.view-profile-picture{
    position: relative;
    cursor: pointer;
}
.view-profile-picture .upload-avatar-icon {
    width: 40px;
    color: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.main-from-inputs{
    padding: 0 20px;
    box-sizing: border-box;
}

.form-area{
    display: grid;
    grid-column: 100%;
    row-gap: 20px;
}

.form-group{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin-top: 25px;
}

.form-area h4{
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    color: #181818;
    margin-bottom: 15px;
}

.form-group label.normal-label{
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    color: #181818;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.form-group textarea,
.form-group input[type="text"],
.form-group input[type="date"],
.form-group select
{
    width: 100%;
    display: block;
    height: 45px;
    border: 1px solid #dadada;
    border-radius: 10px;
    padding: 0px 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    color: #181818;
    box-sizing: border-box;
}

.form-group textarea{
    height: auto;
    padding-top: 10px;
    resize: vertical;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.my-10{
    margin: 40px 0;
}

.pet-gender{
    display: flex;
    align-items: center;
    column-gap: 20px;
} 

.gender-group label{
    width: 90px;
    height: 42px;
    border: 1px solid #dadada;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    color: #181818;
    box-sizing: border-box; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.gender-group label.active,
.gender-group label:hover{
    background-color: #f2f9ff;
    border-color: #1e7ed4;
    color: #1e7ed4;
    border-radius: 10px;
}

.pictures-group{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8px;
    row-gap: 15px;
}

.picture-box{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #dadada;
    border-radius: 8px;
}

.picture-box svg{
    width: 25px;
    color: #d2d2d2;
}

.picture-box img{
    width: 100%;
    height: 100%;
}

.custom-width{
    width: 80%;
}

.mt-5{
    margin-top: 40px;
}

.vaccine-group{
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 90%; 
    margin-top: 15px;
}

.vaccine-group input{
    width: auto;
}

.vaccine-group .vaccine-date{
    max-width: 25%;
    text-align: center;
}

.submit-button{
    width: 100%;
    display: flex;
    background-color: #1e7ed4;
    border-radius: 12px;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    color: #fff;
    cursor: pointer;
    border: 0;
    transition: all 0.3s ease-in-out;
}

.submit-button:hover{
    background-color: #010a12;
}

/* prevew page css */

.profile-pic-area{
    width: 120px;
    height: 120px;
    cursor: pointer;
    background-color: #737373;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 50%;
    transition: all linear .3s;
}

.profile-shadow{
    position: relative;

}

.profile-shadow:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(24, 24, 24, 0.501);
    z-index: 9990;
    transition: all linear .3s;
    transform: scale(0);
}

.profile-shadow:hover:before{
    transform: scale(1);
}
    

#profilePreview{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.upload-iconz{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9991;
}

.profile-pic-area img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.mobile-banner{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
    max-width: 100%;
}

.desktop-banner{
    display: none;
}

.pet-title-name{
    font-size: 26px;
    font-weight: 500;
    line-height: normal;
    color: #181818;
}

.mt-2{
    margin-top: 1rem;
}

.about-pet{
    background-color: #f6f6f6;
    border-radius: 12px;
    padding: 12px 18px;
    align-items: center;
    column-gap: 15px;
    margin-top: 15px;
}

.about-pet p{
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: #737373;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about-pet p svg{
    width: 20px;
}

.about-pet ul {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.about-pet ul li{
    color: #181818;
    font-size: 14px;
    font-weight: 500;
}

.preview-right{
    margin-top: 20px;
}

.name-box{
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-box h5{
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    color: #181818;
}
.name-box p{
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    color: #737373;
    margin-top: 10px;
}

.name-box ul {
    display: flex;
    column-gap: 10px;
}
.name-box ul li a{
    background-color: #eaf5ff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.name-box ul li a img{
    width: 15px;
}

.name-box ul li:nth-child(2) a {
    background-color: #e4fcf3;
}
.name-box ul li:nth-child(2) a img{
    width: 35px;
}

.adress-box{
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 30px;
}

.adress-box .text-start{
    background-color: #f6f6f6;
    border-radius: 12px;
    padding: 12px 18px;
}

.adress-box .text-start h6{
    color: #737373;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.adress-box .text-start h6 svg{
    color: #737373;
    width: 20px;
}

.adress-box .text-start p{
    color: #181818;
    font-size: 14px;
    font-weight: 500;
    line-height: normal; 
    margin-top: 5px;
}

.vaccine-status{
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 30px;
}

.vaccine-status h5{
    font-size: 18px;
    font-weight: 600;
    color: #181818;
}

.vaccine-status h5 input{
    margin-right: 5px;
}
.vaccine-status h5 span{
    font-size: 14px;
    color: #737373;
    margin-left: 5px;
}

.name-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-flex a{
    display: block;
    margin-top: -5rem;
    font-size: 15px;
    font-weight: 500;
    color: #1e7ed4;
    padding: 8px 16px;
    border-radius: 12px;
    transition: all 0.3s ease;
    border: 2px solid #1e7ed4;
}

.edit-pro-bttn{
    display: none;
}

.has-cover{
    background: none;
}

.has-cover .header-title, .has-cover .upload-icon{
    color: #fff;
}


.has-cover .upload-area{
    display: none;
    transition: 300ms ease-in-out;
}

.has-cover:hover .upload-area{
    display: flex;
    cursor: pointer;
}

.vaccine-icon{
    width: 17px;
}

.vaccine-icon {
    width: 16px;
    display: inline-block;
    margin-top: 1px;
}

.profile-area-upload{
    position: relative;
    top: -5rem;
    z-index: 999;
}

.preview-header{
    height: 280px;
    overflow: hidden;
}