/* Modal styles */
.createPetModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Background color with transparency */
    overflow: auto;
    /* Enable scroll if needed */
}

/* Modal content */
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: -7px;
    margin-top: -8px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.spinner-image {
    position: absolute;
    display: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    left: 50%;
    top: 50%;
}

form#bulk-action-form {
    position: relative;
}

.spinner-image img {
    max-width: 50px;
}

.bulk-action-form{
    position: relative
}

form.admin-search-form {
    display: flex;
    justify-content: end;
    margin-bottom: 5px;
}


.widefat .check-column.select_all {
    width: 14px;
    margin-left: 0px;
}